:root {
  --fuenteNotos: "Noto Serif", "Times New Roman", serif;
  --fuenteInter: "Inter", "Arial", sans-serif;

  --fondoencabezado: #fff;
  --colorPrincipal: #000;
  --horarosydireccion: #6f6f6f;
  --fondoReservacion: #ffd6c5;
  --acentos: #ff976b;
  --botones: #e96e3a;
  --bordes: #838383;
  --fondoPieDePagina: #d35722;
  --iconos: #f2f2f2;
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  background: linear-gradient(#4c1a97, #6d6dff);
  background-repeat: no-repeat;
  background-size: cover;
}
fieldset {
  border: none;
  padding: 0;
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}
/* ===== HEADER ===== */
.header-container {
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  flex-direction: column;
  padding-top: 89px;
  padding-left: 120px;
}
.header--title {
  color: var(--colorPrincipal);
}
.header-image {
  width: 387px;
  height: 500px;
  padding-top: 40px;
}
